<div class="container mx-auto">

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <!-- Portfólio 1 -->
    <div *ngFor="let item of portfolios" class="relative mb-12 card">
      <div class="overflow-hidden rounded-lg border-2 hover:border-indigo-600">
        <img
          [src]="item.urlImage"
          alt="portfolio"
          class="w-full"
        />
      </div>
      <div
        class="relative z-10 mx-7 -mt-20 rounded-lg bg-white py-9 px-3 text-center shadow-lg"
      >
        <span class="text-mode-primary mb-2 block text-sm font-semibold">
          <span *ngFor="let tag of item.tags; let i = index">{{ tag }} <span *ngIf="i != item.tags.length-1"> • </span> </span>
        </span>
        <h3 class="text-dark mb-4 text-xl font-bold">{{ item.title }}</h3>
        <a
          [href]="item.urlGitHub"
          target="_blank"
          class="text-body-color hover:ybg-primar hover:border-primary hover:text-purple-600 inline-block rounded-md border py-3 px-7 text-sm font-semibold transition"
        >
          GitHub
        </a>
      </div>
    </div>
  </div>
</div>
