:root{
  --tipo-roxo: rgb(129, 71, 248);
  --primary: #0d6efd;
  --text-mode-primary: #212529;
  --text-mode-secondary: #18232e;
  --body: #fff;
  --card: #fff;
  --text-menu: #fff;
  --text-body: #212529;
  --bg-aux-gray: #f8f9fa
}

:root .dark-theme{
  --primary: #212529;
  --text-mode-primary: #fff;
  --text-mode-secondary: #f5f5f5;
  --body: #141414;
  --card: #434343;
  --text-menu: #fff;
  --text-body: #fff;
  --bg-aux-gray: #212529;
  --bs-light-rgb: 33,37,41;
  --bs-body-color: #fff;
}

body{
  background: var(--body);
  /* background: radial-gradient(circle at -50px 100vh,rgba(192,255,0,.2) 0,transparent 25%); */
}
