<!-- ====== Services Section Start -->
<section class="pt-20 lg:pt-[120px]" id="secao1">
  <div class="container mx-auto">
    <div class="-mx-4 flex flex-wrap">
      <div class="w-full px-4">
        <div class="mx-auto mb-12 max-w-[510px] text-center lg:mb-20">
          <!-- <span class="text-primary mb-2 block text-lg font-semibold">
            Conhecimento e tecnologias que trabalho
          </span> -->
          <h2 class="mb-2 text-2xl font-semibold text-mode-primary">
            Conhecimento e tecnologias que trabalho
         </h2>
        </div>
      </div>
    </div>
    <app-card [conhecimentos]="conhecimentos"></app-card>
  </div>
</section>
<!-- ====== Services Section End -->
