/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./styles/root.css');

.cor-roxo{
  color: var(--tipo-roxo);
}
.text-mode-primary{
  color: var(--text-mode-primary);
}
.text-mode-secondary{
  color: var(--text-mode-secondary);
}
